---
layout: default
title: Home
---


    <!--card_image card layout start-->
    <div class="card_container">
      <!--card_image card_row start-->
      <div class="card_row">
        <!--card_image card start-->
          <a href="/birdmapp">
        <div class="card_image">
          <img src="1.jpg" alt="">
          <div class="details">
            <h2><span>BirdMApp</span></h2>
            <p>BirdMApp lets you map all your bird photos, find local birds, gain insights and more. The only thing that you have to do is tag your photos, and BirdMApp will do the rest!</p>
          </div>
        </div>
          </a>
        <!--card_image card end-->
        <!--card_image card start-->
        <div class="card_image">
          <img src="/assets/ui/dunes.svg" alt="">
          <div class="details">
            <h2><span>Egypt: Shattered Order</span></h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
            <div class="more">
              <a href="#" class="read-more">Read <span>More</span></a>
              <div class="icon-links">
                <a href="#"><i class="fas fa-heart"></i></a>
                <a href="#"><i class="fas fa-eye"></i></a>
                <a href="#"><i class="fas fa-paperclip"></i></a>
              </div>
            </div>
          </div>
        </div>
        <!--card_image card end-->
        <!--card_image card start-->
        <div class="card_image">
          <img src="/assets/images/orca_noname.png" alt="">
          <div class="details">
            <h2><span>Orca Hunting School</span></h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
            <div class="more">
              <a href="#" class="read-more">Read <span>More</span></a>
              <div class="icon-links">
                <a href="#"><i class="fas fa-heart"></i></a>
                <a href="#"><i class="fas fa-eye"></i></a>
                <a href="#"><i class="fas fa-paperclip"></i></a>
              </div>
            </div>
          </div>
        </div>
        <!--card_image card end-->
      </div>
      <!--card_image card_row end-->

    </div>
    <!--card_image card layout end-->

<!-- Featured
================================================== -->
<section class="featured-posts">
<!--     <div class="section-title">
        <h2><span>Featured</span></h2>
    </div> -->
    <div class="row">

    {% for post in site.posts %}

        {% if post.featured == true %}

            {% include featuredbox.html %}

        {% endif %}

    {% endfor %}

    </div>
</section>

<!-- Posts Index
================================================== -->
  <section class="recent-posts">

    <div class="section-title">

        <h2><span>Posts</span></h2>

    </div>

    <div class="row listrecent">

        {% for post in paginator.posts %}

        {% include postbox.html %}

        {% endfor %}

    </div>

</section>

<!-- Pagination
================================================== -->
<div class="bottompagination">
<div class="pointerup"><i class="fa fa-caret-up"></i></div>
<span class="navigation" role="navigation">
    {% include pagination.html %}
</span>
</div>

