<div class="share sticky-top sticky-top-offset">
    <p>
        Share
    </p>
    <ul>
        <li class="ml-1 mr-1">
            <a target="_blank" href="https://twitter.com/intent/tweet?text={{ page.title }}&url={{ page.url | absolute_url }}" onclick="window.open(this.href, 'twitter-share', 'width=550,height=235');return false;">
                <i class="fab fa-twitter"></i>
            </a>
        </li>

        <li class="ml-1 mr-1">
            <a target="_blank" href="https://www.facebook.com/dialog/feed?app_id=308619723431504 &link={{ page.url | absolute_url }} &picture={% if page.image %}{{ site.baseurl }}/{{ page.image }}{% else %}https://orsondewitt.com/assets/images/logo.png{% endif %} &caption={{ page.title }} &description={{ post.excerpt | strip_html | truncatewords:30 }}" onclick="window.open(this.href, 'facebook-share', 'width=550,height=435');return false;">
                <i class="fab fa-facebook-f"></i>
            </a>
        </li>

        <li class="ml-1 mr-1">
            <a target="_blank" href="https://www.reddit.com/submit?url={{ page.url | absolute_url }}&title={{ page.title }}" onclick="window.open(this.href, 'width=550,height=435');return false;">
                <i class="fab fa-reddit-alien"></i>
            </a>
        </li>

    </ul>
    {% if page.comments != false %}
    <div class="sep">
    </div>
    <ul>
        <li>
        <a class="small smoothscroll" href="#disqus_thread"></a>
        </li>
    </ul>
    {% endif %}
</div>
