---
# Add a comment to make this file sass-y.
# Change this file for any custom CSS.
---

/* We need to add display:inline in order to align the '>>' of the 'read more' link */
.post-excerpt p {
	display:inline;
}

// Import partials from `sass_dir` (defaults to `_sass`)
@import
	"syntax",
    "starsnonscss"
;

h2 {
	padding-top:1em;
}

//birdmapp carousel

.app-container {
  margin: 10px auto;
  text-align: center;
  z-index: 1; 
}

.app-title {
text-align: center;
  color: rgba(84,144,240,1);
  margin-bottom: 10px;
}

.app-description {
text-align: center;
  color: #000000;
  margin-bottom: 20px;
}

.carousel {
  display: flex;
  justify-content: center; /* Center the carousel horizontally */
  text-align: center;
  margin: auto;
  width: 100%;
padding-top: 90px;
  background-color: #FFFFFF;
}

.carousel-inner {
  position: relative;
  width: 100%;
  overflow: hidden;
}

.carousel-inner > .item {
  position: relative;
  display: none;
  animation: 0.5s ease-in-out;
}

.carousel-inner > .active,
.carousel-inner > .next {
  display: block;
}

.carousel-inner > .next {
  position: absolute;
  top: 0;
  width: 100%;
}

.carousel-inner > .to-left {
  animation-name: left;
}

.carousel-inner > .from-right {
  animation-name: right;
}

.carousel-inner > .to-right {
  animation-name: right;
  animation-direction: reverse;
}

.carousel-inner > .from-left {
  animation-name: left;
  animation-direction: reverse;
}

.carousel-container {
  margin: auto;
background-color: #f0f0f0;
  border-radius: 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  padding: 30px;
}

screenshot {
  padding: 10px 20px;
  margin: 30px 90px;
  font-size: 32px;
}

.author {
  margin: 0;
  opacity: 0.5;
}

.carousel-control {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  width: 15%;
  cursor: pointer;
}

.carousel-control.right {
  right: 0;
  left: auto;
}

.carousel-control > .arrow {
  position: absolute;
  top: 50%;
  display: inline-block;
  width: 40px;
  height: 40px;
  background: url("data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMjYiIGhlaWdodD0iMjAiIHZpZXdCb3g9IjAgMCAyNiAyMCIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj48dGl0bGU+QXJyb3c8L3RpdGxlPjxwYXRoIGQ9Ik0yNS42IDEwLjk3NGwtOC41MyA4LjYyYTEuMzYgMS4zNiAwIDAgMS0xLjkzNS4wMDMgMS4zODcgMS4zODcgMCAwIDEtLjAwMi0xLjk1bDYuMjAxLTYuMjY4SDEuMzY4QTEuMzc0IDEuMzc0IDAgMCAxIDAgMTBjMC0uNzYyLjYxMy0xLjM4IDEuMzY4LTEuMzhoMTkuOTY2bC02LjItNi4yNjdhMS4zODcgMS4zODcgMCAwIDEgLjAwMS0xLjk1IDEuMzYgMS4zNiAwIDAgMSAxLjkzNi4wMDJsOC41MyA4LjYyMWMuNTMyLjUzOC41MzIgMS40MSAwIDEuOTQ4IiBmaWxsPSIjRkZGRkZGIiBmaWxsLXJ1bGU9ImV2ZW5vZGQiLz48L3N2Zz4=") center center no-repeat;
  background-size: 26px 20px;
  opacity: 0.6;
  transform: translateY(-50%);
filter: hue-rotate(45deg) !important; 
}

.carousel-control > .arrow:hover {
  opacity: 0.8;
}

a.carousel-control.left:hover {
  background: linear-gradient(270deg, transparent 0%, #f0f0f0 100%);
}

/* For the right arrow */
a.carousel-control.right:hover {
  background: linear-gradient(90deg, transparent 0%, #f0f0f0 100%);
}

.carousel-control > .arrow.left {
  transform: translateY(-50%) rotate(180deg);
}

.carousel-control > .arrow.right {
  right: 50%;
}

.carousel-indicators {
  position: absolute;
  bottom: 20px;
  left: 50%;
  padding-left: 0;
  margin: 0;
  list-style: none;
  transform: translateX(-50%);
}

.carousel-indicators li {
  display: inline-block;
  width: 20px;
  height: 20px;
  cursor: pointer;
  border: 1px solid rgba(52,58,64,1);
  border-radius: 10px;
}

.carousel-indicators li.active {
  background-color: #bdd8ff;
}

@media (min-width: 992px) {
  .carousel-container {
    width: 970px;
  }
}

@media (min-width: 1200px) {
  .carousel-container {
    width: 1170px;
  }
}

@keyframes left {
  from {
    left: 0;
  }
  to {
    left: -100%;
  }
}

@keyframes right {
  from {
    left: 100%;
  }
  to {
    left: 0;
  }
}
//birdmapp carousel end

//egypt faq
.accordion a:not(.inherit) {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  width: 100%;
  padding: 1rem 3rem 1rem 1rem;
  color: #000;
  font-size: 1.15rem;
  font-weight: 400;
  border-bottom: 1px solid #e5e5e5;
	margin: auto; 
}
.accordion a:hover:not(.inherit),
.accordion a:hover:not(.inherit)::after {
  cursor: pointer;
  color: #e26353;
}
.accordion a.active:not(.inherit) {
  color: #4b1629;
  border-bottom: 1px solid #4b1629;
}
.accordion a:not(.inherit)::after {
  font-family: "Font Awesome 5 Free";
  content: "\f13a";
  position: absolute;
  float: right;
  right: 1rem;
  font-size: 1.35rem;
  color: #4b1629;
  width: 30px;
  height: 30px;
  text-align: center;
 font-weight: 1000; 
	margin-top: -10px;
}
.accordion a.active:not(.inherit)::after {
  font-family: "Font Awesome 5 Free";
  content: "\f139";
  color: #4b1629;
	font-weight: 900; 
}
.accordion .content {
  opacity: 0;
  padding: 0 1rem;
  max-height: 0;
  border-bottom: 1px solid #e5e5e5;
  overflow: hidden;
  clear: both;
  -webkit-transition: all 0.2s ease 0.15s;
  -o-transition: all 0.2s ease 0.15s;
  transition: all 0.2s ease 0.15s;
}
.accordion .content p {
  font-size: 1.25rem;
  font-weight: 380;
}
.accordion .content.active {
  opacity: 1;
  padding: 1rem;
  max-height: 100%;
  -webkit-transition: all 0.35s ease 0.15s;
  -o-transition: all 0.35s ease 0.15s;
  transition: all 0.35s ease 0.15s;
	border-bottom: #4b1629;
}

.dunes {background-color: #fff; background-image: url('/assets/ui/dunes.svg'); background-repeat: repeat; background-position: center center; background-attachment: fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
}

.books {background-color: #fff; background-image: url('/assets/ui/bg.svg'); background-repeat: repeat; background-position: center center; background-attachment: fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
}

.footer {background: transparent;}
.navbar-brand {
	padding-top: 0;
	padding-bottom: 0;
}
.mediumnavigation .navbar-brand img  {
	max-height: 44px;
	margin-top: 3px;
}

.books a,.books .navbar-dark .navbar-nav .nav-link {color: #fff; transition: color 0.2s;}
.books a:hover,.books a:focus,.books .navbar-dark .navbar-nav .nav-link:focus,.books .navbar-dark .navbar-nav .nav-link:hover {
//        color: #b486b5;
	font-weight: 600;
}

.languageDropdown-menu {background:transparent; border: none; margin: 0; padding: 0;}
.languageDropdown-item {background: transparent;}
.dropdown-menu-right .dropdown-item {text-align:center; width:8rem;background-color: #525864;}
.books .dropdown-menu a {color:#000;}
.books .dropdown-menu a:hover, .dropright .dropdown-menu a:focus {color:#000}
.languageDropdown-item a:hover, .dropdown-menu a:hover, .dropright .dropdown-menu a:focus {color: #bdd8ff}
.mediumnavigation .dropdown-menu a {color:#fff;}
.mediumnavigation .dropdown-menu a:hover, .mediumnavigation .dropdown-menu a:focus {color:#b486b5}
.books h3 {text-align:left}

a {color: #3177d8; transition: color 0.2s;}
a:hover, a:focus {color:#ff4500}
.navbar-dark .navbar-nav .nav-link {color: #fff; transition: color 0.2s;}
.navbar-dark .navbar-nav .nav-link:focus, .navbar-dark .navbar-nav .nav-link:hover {
        color: #bdd8ff;
}

.dropdown-menu-right {min-width:4rem;border-top-left-radius:0;border-top-right-radius:0;}

//language switch for smaller screens
@media screen and (max-width: 991px){
.dropdown-menu a:hover,.dropdown-menu a:focus {color:#bdd8ff};
.books .dropdown-menu a {color:#000};
.dropdown-menu-right,.mediumnavigation .dropdown-menu-right {background:transparent; border: none; margin: 0; padding-top: 0;};
.dropdown-menu-right .dropdown-item, .dropdown-menu a,.books .dropdown-menu-right a {color:#fff};
.dropdown-menu-right .dropdown-item:hover {color:#bdd8ff;background:transparent};
.dropdown-menu-right .dropdown-item:focus {color:#bdd8ff;background:transparent};
.books .dropdown-menu-right .dropdown-item:hover {color:#b486b5;background:transparent};
.books .dropdown-menu-right .dropdown-item:focus {color:#b486b5;background:transparent};
}

div .book-1 {
//border-radius: 5px 0px 0px 5px;
//border-top: 1px solid #fff; border-left: 1px solid #fff; border-bottom: 1px solid #fff;
	overflow: auto; padding:2% 1% 2% 2%;}

div .book-2 {
//border-radius: 0px 5px 5px 0px;
//border-top: 1px solid #fff; border-right: 1px solid #fff; border-bottom: 1px solid #fff;
	overflow: auto; padding:2% 5% 2% 1%; font-family:'PT Serif', serif;}

@media screen and (max-width: 576px){
	h3 {text-align:center};
	.books .col-12 {text-align:center};
	div .book-1 {border:none; padding:2% 1% 2% 2%;}
	div .book-2 {border:none; padding:2% 1% 2% 2%;}
}

//logo adjustment for menu
@media screen and (max-width: 1950px){
.padding-adjustment {
	padding-left: 6.5rem!important;
	}
.padding-adjustment-posts {
	padding-left: 8rem!important;
	}
}
@media screen and (max-width: 1890px){
.padding-adjustment-posts {
	padding-left: 6rem!important;
	}
}
@media screen and (max-width: 1810px){
.padding-adjustment {
	padding-left: 5.5rem!important;
	}
.padding-adjustment-posts {
	padding-left: 7rem!important;
	}
}
@media screen and (max-width: 1720px){
.padding-adjustment {
	padding-left: 4.5rem!important;
	}
.padding-adjustment-posts {
	padding-left: 6rem!important;
	}
}
@media screen and (max-width: 1635px){
.padding-adjustment {
	padding-left: 4rem!important;
	}
.padding-adjustment-posts {
	padding-left: 5rem!important;
	}

}
@media screen and (max-width: 1550px){
.padding-adjustment-posts {
	padding-left: 4.5rem!important;
	}
}
@media screen and (max-width: 1510px){
.padding-adjustment {
	padding-left: 3.5rem!important;
	}
}
@media screen and (max-width: 1500px){
.padding-adjustment-posts {
	padding-left: 0.5rem!important;
	}
}
@media screen and (min-width: 1200px){
.padding-adjustment-about {
        padding-left: 9rem!important;
}
}

@media screen and (min-width: 991px){
.padding-adjustment {
	padding-left: 4.5rem!important;
	}
}
@media screen and (max-width: 991px){
.padding-adjustment {
padding-left: 0.5rem!important;
}
}

@media screen and (max-width: 768px){
.padding-adjustment-about {
        .padding-left: 0rem!important;
}
}

@media screen and (max-width: 991px){
.padding-adjustment-about {
        .padding-left: 2rem!important;
}
	}

@media screen and (max-width: 768px){
.padding-adjustment-about {
        .padding-left: 0rem!important;
}
}
@media screen and (max-width: 576px){
.padding-adjustment {
	padding-left: 0rem!important;
	}
.mediumnavigation .navbar-brand img, {
	max-height: 34px;
	margin-top: 3px;
}
}
